streamlit
python-dotenv
langchain
langchain-google-genai
langchain-community
langchain-core
faiss-cpu
google-api-core
google-auth
protobuf
grpcio
unstructured
networkx
pandas
python-magic
python-docx
openpyxl
xlrd
PyPDF2
pdfminer.six
python-pptx
beautifulsoup4
lxml
